body{
    padding: 0;
    margin: 0;
    margin: 20%;
    margin-top: 1%;
    margin-bottom: 0;
    background-color: wheat;
}
section{
    background-color: grey;
    padding: 1%;
}
h1{
    color: palevioletred;
    background-color: white;
    padding: 0%;
    border: 2px solid;
    width: fit-content;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
img{
    margin-top: 2%;
    width: 40%;
}

a:link{
    color: whitesmoke;
}

a:hover{
    color: deeppink;
}

a:active {
    color: beige;
}


p{
    padding-top: 2%;
    color: yellow;
    font-style: oblique;
    text-align: justify;
}

#second{
    text-decoration: wavy;
}